langchain
python-dotenv
langchain-community
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
faiss-cpu
chromadb
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve[all]
transformers
